{
    "apiVersion": "v1",
    "data": {
        "customServerConfig.json": "{ \"servicesToProvision\": [\"fuse\", \"launcher\", \"che\"], \"services\": [ { \"name\": \"3scale Developer Dashboard\", \"url\": \"https://{{ '{{' }} username {{ '}}' }}.dil.opentry.me\"    }, { \"name\": \"3scale Admin Dashboard\", \"url\": \"https://{{ '{{' }} username {{ '}}' }}-admin.dil.opentry.me\"}  ]}"
    },
    "kind": "ConfigMap",
    "metadata": {
        "name": "{{ configmap_name }}",
        "namespace": "{{ configmap_namespace }}"
    }
}
