apiVersion: v1
data:
  customServerConfig.json: |
    {
      "services": [
        { "name": "3scale Developer Dashboard", "url": "https://{{ '{{' }} username {{ '}}' }}.{{ ocp_apps_domain }}" },
        { "name": "3scale Admin Dashboard", "url": "https://{{ '{{' }} username {{ '}}' }}-admin.{{ ocp_apps_domain }}" },
        { "name": "Gogs", "url": "http://gogs.{{ ocp_apps_domain }}" },
        { "name": "Microcks", "url": "http://microcks.{{ ocp_apps_domain }}" },
        { "name": "Apicurio", "url": "http://apicurio-studio.{{ ocp_apps_domain }}" }
      ]
    }
kind: ConfigMap
metadata:
  name: {{ configmap_name }}
  namespace: {{ configmap_namespace }}
